
.projects{
	margin: 0 auto;
	position: relative;
	z-index: 10;
	text-decoration: none;
	font-size: 36px;
	color: #D6D6D6;
	transition: all 0.3s ease-in-out;
	span {
	
			font-size: 24px;
			color: #62696E;
		}
	.projects__active{
	transition: all 0.3s ease-in-out;
	text-decoration: none;
	letter-spacing: 0.1rem;
	font-size: 2.4rem;
	color: #ffffff;

	}


	
	&__grid__item{
		margin-top: 40px;
		display: flex;
		justify-content: center;

		&__container{
					margin: 0px 20px;
			position: relative;
			z-index: 10;
			min-width: 120px;
			height: 120px;
			border: 1px solid #626E62;
			background-color: #252B2F;
			border-radius: 16px;
			transition: all 0.3s ease-in-out;
			text-decoration: none;
			&:hover {
					background-color: #626E62;
					scale: 110%;
					.projects__grid__item__container__image {
						transition: all 0.2s ease-in-out;
						filter: brightness(150%);
						scale: 110%;
					}
					.projects__grid__item__container__title {
						transition: all 0.2s ease-in-out;
						filter: brightness(150%);
						scale: 103%;
					}
				}
			&__image {
					margin-top: 24px;
			
				}
			
				&__title {
					margin-top: 6px;
					font-size: 14px;
					font-weight: 300;
					color: #B1C0B1;
				}
		}
	}
}

.content__background {
	z-index: 0;
	position: absolute;
	position: absolute;
	left: 50%;
	margin-left: -15%;
	top: 0%;
	margin-top: -50px;
	width: 350px;
	height: 350px;
	border: 1px solid #62696E;
	rotate: 8deg;

	@media(max-width: 769px) {
		width: 250px;
		height: 250px;
	}

	@media(max-width: 420px) {
		width: 150px;
		height: 150px;
	}
}