
.skill{
	padding: 100px 0;
	margin: 0 auto;
		position: relative;
	.skill__active {
			
				transition: all 0.3s ease-in-out;
				text-decoration: none;
				letter-spacing: 0.1rem;
				font-size: 3rem;
				color: #ffffff;
			
		}
	a{
		height: 200px;
		text-decoration: none;
		font-size: 2.8rem;
		color: #D6D6D6;
		margin: 0;
			span {

					font-size: 24px;
					color: #62696E;
				}
	}

	.skill__grid {

				margin: 0 auto;
			display: grid;
			padding: 40px 20%;
			justify-content: center;
			grid-template-columns: repeat(4, 1fr);
			@media(max-width:769px){
				grid-template-columns: repeat(2, 1fr);
			}
			@media(max-width:579px){
				padding: 40px 0;
			}

			grid-template-rows: repeat(3, 1fr);
			&__item {
				position: relative;
				
				margin: 10px;
				&__container {
					transform-style: preserve-3d;
					position: relative;
					z-index: 5;
					min-width: 120px;
					height: 120px;
					border: 0px solid #62696E;
					background: #252B2F;
					border-radius: 16px;
					transition: all 0.4s ease;
					border: 1px solid #c6c9c3;
					&::after {
						content: '';
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 20px 20px 0px 0px;
						border-color: transparent #c6c9c3 transparent transparent;
						right: -1px;
						bottom: -1px;
						position: absolute;

					}
						&:hover{		
						border: 1px;
						background: #374046;
						clip-path: polygon(5% 0, 100% 0, 100% 94%, 95% 100%, 0 100%, 0 7%);
							.skill__grid__item__container__image {
							transition: all 0.2s ease-in-out;
							filter: brightness(150%);
								scale: 110%;
							}
							
						}
					&__image {
						margin-top: 24px;

					}
					
					&__title {
						margin-top: 6px;
						font-size: 14px;
						font-weight: 300;
						color: #A9B8CB;
					}
				}
			}
	}

}

.content__background {
	z-index: 3;
	position: absolute;
	top: 25%;
	left: 35%;
	width: 350px;
	height: 350px;
	border: 1px solid #62696E;
	rotate: -8deg;
		@media(max-width: 769px) {
				width: 250px;
				height: 250px;
			}
		
			@media(max-width: 420px) {
				width: 150px;
				height: 150px;
			}
}
.content__background__active {
	animation: rotation 1.4s ease-in-out, scale 0.3s ease;
	animation-delay: 0s,1.4s;
	animation-fill-mode: forwards;
	@keyframes rotation {
		from {
			transform: rotate(-8deg);
		}

		to {
			transform: rotate(360deg);
		}
	}
		@keyframes scale {
			from {
				transform: scale(1);
			}
	
			to {
				transform: scaleX(2.3);
			}
		}


	position: absolute;
	top: 25%;
	left: 35%;
	width: 350px;
	height: 350px;

	@media(max-width: 769px) {
		width: 250px;
		height: 250px;
	}

	@media(max-width: 420px) {
		width: 150px;
		height: 150px;
	}

	border: 1px solid #62696E;

}