*{
	margin: 0;
	padding: 0;
	box-sizing: content-box;
	font-family: 'Merriweather Sans', sans-serif;
	color: #fff;
	//background-color: #1C1F21;
	scroll-behavior: smooth;
}

body{
	background-color: #1C1F21;

}

body::-webkit-scrollbar {
	width: 0.5em;

}

body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	width: 5px;
}

body::-webkit-scrollbar-thumb {
	background-color: rgb(59, 61, 59);
	outline: 1px solid rgb(37, 37, 37);
}


$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1024px;
$xxl: 1400px;

.container{
	max-width: $xxl;
	@media(max-width: $xl){
		padding: 30px;
	}
	@media(max-width: $sm){
		padding: 10px;
	}
	margin: 0 auto;
	padding: 0 40px;
	scroll-behavior: smooth;
}


.author {
	position: absolute;
	text-decoration: none;
	font-size: 14px;
	font-weight: 300;
	margin-top: 40px;
	position: absolute;
	bottom: 0;
	color: rgb(255, 255, 255, 0.6);

	span {
		font-size: 10px;
		color: rgb(255, 255, 255, 0.6);
	}
}